html {
    font-size: 14px;
    line-height: 1.5;
    background: rgb(223, 126, 62);
    color: rgb(255, 255, 255);
    font-family: "Avenir Next", "Avenir Next", "Helvetica Neue";
    box-sizing: border-box;
}

